@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "pokefont";
	src: url(./ressources/font/pokemon-solid.ttf);
	font-style: light;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* HOME PAGE */
body {
	display: flex;
	align-items: center;
	flex-direction: column;
	/* background: linear-gradient(45deg, #000, #434343); */
	background-image: url(../PokeTeam/ressources/images/background.svg);
	/* background-color: #ddd; */
	/* background-image: url(../PokeTeam/ressources/images/pokeball_icon.svg); */
	background-size: cover;
	background-position: center;
	padding-bottom: 100px;
	/* background-repeat: no-repeat; */
}
main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 90px;
	margin-bottom: 100px;
	/* height: 100vh; */
}

nav {
	z-index: 2;
	position: fixed;
	background: black;
	height: 80px;
	width: 100%;
	display: flex;
	justify-content: center;
}

h1 {
	display: none;
}
.logo {
	margin-top: 8px;
	width: 300px;
}

.card {
	width: 320px;
	padding: 20px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 0;
	margin: 90px 15px;
	overflow: hidden;
	position: relative;
	transition: 0.1s ease-in-out;
}
.card:hover {
	padding-bottom: 150px;
	margin: 15px 15px;
}
.pokemon-img {
	height: 200px;
	margin-bottom: 15px;
}
.card__description {
	width: 320px;
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 15px;
	line-height: 20px;
	position: absolute;
	bottom: -150px;
	transition: 0.3s ease-in-out;
}
.card:hover .card__description {
	bottom: 0;
	transition: 0.3s ease-in-out;
}
.card__title {
	margin-bottom: 15px;
}
.card__description p {
	text-align: left;
}
/* .new-character {
	width: 70px;
	height: 70px;
	background-color: #E41F25;
	border-radius: 50px;
	position: fixed;
	bottom: 20px;
	right: 20px;
} */
.new-character img {
	width: 50px;
	height: 50px;
}

@media (max-width: 1049px) {
	.card {
		padding-bottom: 150px;
		margin: 15px 15px;
	}
	.card:hover {
		padding-bottom: 150px;
		margin: 15px 15px;
	}
	.card__description {
		bottom: 0;
	}
	.card:hover .card__description {
		bottom: 0;
		transition: 0.3s ease-in-out;
	}
}
@media (max-width: 700px) {
	nav {
		height: 60px;
	}
	.logo {
		margin-top: 10px;
		width: 200px;
	}
}
@media (max-width: 345px) {
	.card {
		width: 90%;
	}
	.card__top {
		width: 90%;
	}
	.card__description{
		width: 100%;
	}
}

/* Character creation */
#formcharacter {
	width: 100%;
	margin-top: 50px;
}
#formcharacter h2 {
	font-size: 2.5rem;
	margin-bottom: 15px;
	color: aliceblue;
	font-weight: bold;
}
#formcharacter form {
	background-color: aliceblue;
	border-radius: 24px;
	padding: 50px;
}
#formcharacter form div {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
} 
#formcharacter form div label {
	font-weight: 600;
	font-size: 1.1rem;
	margin-bottom: 5px;
	color: #4057A2;
}
#formcharacter form div input {
	background: none;
	border-bottom: 2px solid #4057A2;
	height: 45px;
}
#formcharacter form div textarea {
	background: none;
	height: 200px;
	margin-top: 8px;
	border-bottom: 2px solid #4057A2;
}
#formcharacter .form-button {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	bottom: 0;
}
.input_image {
	margin-top: 8px;
}
.form-button button {
	width: 40%;
	border-radius: 15px;
	padding: 1rem 0;
	font-weight: bold;
	margin: 10px 10px;
	transition: 0.2s ease-in-out;
}
.form-button button:hover {
	transform: scale(1.1);
	transition: 0.2s ease-in-out;
}
.form-button__add {
	background-color: #22C55E	;
	color: white;
}
.form-button__delete {
	border: 3px solid #E41F25;
	color: #E41F25;
}

@media (max-width: 500px) {
	#formcharacter {
		width: 100%;
	}
	#formcharacter form {
		width: 300px;
		padding: 30px;
	}
	#formcharacter h2 {
		font-size: 1.5rem;
	}
	#formcharacter h2 {
		text-align: center;
	}
	main {
		margin-bottom: 0;
	}
	.form-button button  {
		width: 80%;
	}
}

/* SINGLE CHARACTER */

.card__single {
	margin-top: 50px;
	margin-bottom: 100px;
	max-width: 950px;
	display: flex;
	flex-direction: row;
}
.card__single__top {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
}
.card__single__description {
	width: 50%;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
}
.card__single__description span {
	text-align: left;
	line-height: 1.3rem;
}

.card__single__button {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	bottom: 0;
}
.card__single__button button {
	width: 40%;
	border-radius: 15px;
	padding: 1rem 0;
	font-weight: bold;
	margin: 0 10px;
	transition: 0.2s ease-in-out;
}
.card__single__button button:hover {
	transform: scale(1.1);
	transition: 0.2s ease-in-out;
}
.card__button__edit {
	background-color: #22C55E	;
	color: white;
}
.card__button__delete {
	border: 3px solid #E41F25;
	color: #E41F25;
}

@media (max-width: 1000px) {
	.card__single {
		flex-direction: column;
		width: 600px;
	}
	.card__single__top {
		width: 100%;
	}
	.card__single__description {
		width: 100%;
	}
	.single__pokemon-img {
		height: 300px;
	}
	.card__single__description *{
		margin-bottom: 20px;
	}
}
@media (max-width: 630px) {
	.card__single {
		width: 90%;
	}
}
@media (max-width: 435px) {
	.card__single__button {
		flex-direction: column;
	}
	.card__single__button button {
		width: 80%;
		margin: 10px 10px;
	}
}

/* Animation pokéball */

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  }
  .center-on-page {
	position: fixed;
	bottom: 30px;
	right: 30px;
  }
  /* Poké Styles */
  .pokeball {
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
	position: relative;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
	background-color: #E41F25;
	animation: fall .25s ease-in-out,
			   shake 1.25s cubic-bezier(.36,.07,.19,.97) 3;
			   
  }

  /* Animation */
  @keyframes blink {
	from { background: #eee;}
	to { background: #e74c3c; }
  }
  @keyframes shake {
	0 { transform: translate(0, 0) rotate(0); }
	20% { transform: translate(-10px, 0) rotate(-20deg); }
	30% { transform: translate(10px, 0) rotate(20deg); }
	50% { transform: translate(-10px, 0) rotate(-10deg); }
	60% { transform: translate(10px, 0) rotate(10deg); }
	100% { transform: translate(0, 0) rotate(0); }
  }
  @keyframes fall {
	0% { top: -200px }
	60% { top: 0 }
	80% { top: -20px }
	100% { top: 0 }
  }

/* Loader */
.loader {
	position : fixed;
	z-index: 3;
	top : 0;
	left : 0;
	height : 100%;
	width : 100%;
	cursor : wait;
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
}
.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
  }
  .lds-ring img {
	position: relative;
	top: 37px;
	left: 37px;
  }
  .lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 140px;
	height: 140px;
	margin: 8px;
	border: 20px solid #eee;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
  }
  @keyframes lds-ring {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }